:root {
  --field-bg-color: #9dd84f;
  --field-bg-color2: #95d443;
}

body {
  height: 90vh;
  padding: 0 5rem;
}

button.no-button {
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

h1, h2, h3 {
    margin: 0;
}
